* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--grid-gap: 20px;
}

img{
	max-width: 100%;
}

footer{
	display: flex;
	justify-content: space-around;
}

nav ul{
	display: flex;
	justify-content: space-around;
}

/*CONTACT INFO*/
#contact ul{
	display: flex;
	justify-content: space-around;
}

/*ABOUT&BIO*/
#about{
	display: grid;
	grid-gap: var(--grid-gap);
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
}

#about figure{
	grid-row-start: 1;
	grid-row-end: -1;
}

/*SKILL MODAL*/
.skillModal{
	display: none;
}

/*CAROUSEL*/
.slide{
	grid-gap: var(--grid-gap);
	grid-template-columns: 1fr 1fr;
}

#projects{
	display: grid;
	grid-gap: var(--grid-gap);
	grid-template-columns: 1fr 10fr 1fr;
}