* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--gridgap: 20px;
}

.container{
	margin: 0 auto;
}

footer{
	padding: .5rem;
	margin-top: 1rem;
}

figure{
	padding: 0;
}

h1{
	padding: .5rem;
}

header ul{
	margin: 1rem;
	padding: .5rem 1rem;
}

img{
	width: 100%;
}

section{
	margin: 1rem 0;
}

/*skills*/

#about p{
	padding: 1rem;
}

/*contact*/

#contact ul{
	padding: 1rem;
}

#contact span {
	padding-left: .5rem;
}

/*skills*/

#skills ul{
	padding: .5rem;
}

#skills li{
	margin: .5rem;
}

.project p, .project a{
	margin: 1rem;
	margin-top: 0;
}

@supports (display: flex) {

	header nav{
		display: flex;
		justify-content: space-around;
	}

	header ul{
		display: flex;
	}

	footer{
		display: flex;
		flex-direction: column;
	}

	#contact a {
		display: flex;
	    flex-direction: row;
	    align-items: center;
	}

	#skills ul{
		display: flex;
		list-style: none;
		flex-wrap: wrap;
	}

	.project ul{
		display: flex;
		justify-content: space-around;
	}

	@media only screen and (min-width: 900px) {

		footer{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}

	}
}

@supports (display: grid) {

	@media only screen and (min-width: 900px) {

		#about img{
			padding: 1rem;
		}

		main{
			display: grid;
    		grid-gap: var(--gridgap);
    		grid-template-columns: 6fr 3fr;

		}

		#portfolio main{
			grid-template-columns: 1fr 1fr;
		}

		#about{
    		grid-column: 1 / span 2;
    		margin-bottom: 0;
    		display: grid;
    		grid-template-columns: 1fr 2fr;
    	}

		#about h2{
			grid-column: 1 / span 2;
		}

    	#skills{
    		margin-top: 0;
    	}

    	#contact{
    		margin-top: 0;
    	}
    	
	}
}