* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--grid-gap: 20px;
}

img{
	max-width: 100%;
}

@supports (display: flex) {
	/*nav&header*/
	header ul{
		display: flex;
		justify-content: space-around;
	}
	/*contact*/
	#contact ul{
		display: flex;
		justify-content: space-around;
	}
	/*footer*/
	footer{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@media only screen and (min-width: 1200px) {
		/*footer*/
		footer{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
	}
}

@supports (display: grid) {
	/*projects*/
	#projects{
		display: grid;
		grid-gap: var(--grid-gap);
		grid-template-columns: 1fr 5fr 1fr;
	}

	@media only screen and (min-width: 768px) {
    	main{
    		display: grid;
    		grid-gap: var(--grid-gap);
    		grid-template-columns: 5fr 4fr;
    	}

    	#about{
    		grid-row: 1 / span 2;
    	}

    	#projects{
    		grid-column: 1 / span 2;
    	}

    	#contact{
    		grid-column: 2 / span 1;
    		grid-row: 2 / span 1;
    	}
	}
}