*{
	font-family: 'Chakra Petch', Helvetica, Arial, sans-serif;
}

:root {
	--red: #ff5c5c;
	--lighterRed: #f99;
	--darkerRed: #f44;
}

.container{
	width: 80%;
	max-width: 1070px;
}

a{
	color: var(--red);
	font-weight: bold;
}

body{
	background-color: var(--red);
}

h1{
	text-align: center;
	font-size: 1.5rem;
}

h2{
	text-align: center;
	background-color: #000;
	color: #fff;
}

section{
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
}

svg{
	width: 3rem;
	color: #000;
	transition-duration: .5s;
}
svg:hover{
	color: var(--lighterRed);
}

/*header*/
header ul{
	background-color: #000;
	list-style: none;
}
header li{
	color: #fff;
	width: 7rem;
	text-align: center;
}
header a{
	color: #fff;
	text-decoration: none;
	transition-duration: .5s;
}
header a:hover{
	color: var(--lighterRed);
}

/*footer*/
footer{
	background-color: #000;
	color: #fff;
	text-align: center;
}
footer a{
	color: #fff;
	transition-duration: .5s;
}
footer a:hover{
	color: var(--lighterRed);
}

/*contact*/

#contact ul{
	list-style: none;
}

#contact .contactText{
	font-size: .8rem;
}

/*project*/

.project ul{
	list-style: none;
}

.project a{
	display: inline-block;
}

/*skills*/

#skills li{
	text-decoration: underline var(--lighterRed);
}

@media only screen and (min-width: 400px) {
	
	#contact .contactText{
		font-size: 1rem;
	}
	
}

@media only screen and (min-width: 600px) {
	h1{
		font-size: 2rem;
	}

	.container{
		width: 60%;
	}
	
}

@media only screen and (min-width: 900px) {
	
}