*{
	font-family: 'Chakra Petch', Helvetica, Arial, sans-serif;
}

:root {
	--red: #ff5c5c;
	--lighterRed: #f99;
	--darkerRed: #f44;
}

a{
	font-weight: bold;
	color: #000;
}

footer{
	margin-top: 1rem;
}

footer small{
	padding: 2rem;
}

h1{
	text-align: center;
	padding-top: 1rem;
}

h2{
	text-align: center;
	padding-bottom: .5rem;
}

img{
	border: inset;
}

/*image border coloring*/
#projects img{
	border-color: var(--darkerRed);
}

#about img{
	border-color: #fbfbfb;
}

nav{
	background-color: #000;
	margin: 1rem 0 3rem 0;
}
nav ul{
	width: 60%;
	margin: 0 auto;
	list-style: none;
}
nav ul li{
	margin: .5rem 0;
}
nav ul li a{
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
nav ul li a:hover{
	color: var(--lighterRed);
}

.container{
	background-color: var(--red);
}

/*ABOUT*/

#about, #contact{
	background-color: #fff;
}

#about article{
	padding: 0 10rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #about article{
		padding: 0;
	}
}

#about{
	padding: 1rem;
	-webkit-box-shadow: 2px 0px 34px 6px rgba(0,0,0,0.38);
	-moz-box-shadow: 2px 0px 34px 6px rgba(0,0,0,0.38);
	box-shadow: 2px 0px 34px 6px rgba(0,0,0,0.38);
}

#about img{
	width: 25rem;
}

#about p, #about a, #about button{
	margin: .5rem 0;
}

/*MODAL*/
.skillModal{
	position: absolute;
	color: #000;
	background-color: #fff;
	border: solid;
	width: 50%;
	height: 50%;
	margin: 10rem 25%;
}

.skillModal button{
	border: none;
	margin: .1rem .5rem;
	background-color: #fff;
	font-weight: bold;
}

.skillModal ul{
	margin-left: 2rem;
}

.skillModalOpen{
	background-color: #fff;
	padding: .1rem;
	font-size: 1rem;
}

/*CAROUSEL*/
.slide{
	display: none;
	margin: 1rem;
	height: 30rem;
}

.current{
	display: grid;
}

.leftButton, .rightButton{
	background-color: var(--red);
	border: none;
	font-size: 1.5rem;
	font-weight: bold;
}

#projects{
	margin: 2rem 0;
}

#projects p, #projects a, #projects button{
	margin: .5rem 0;
}

#projects article div{
	padding: 0 3rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #projects article div{
		padding: 0;
	}
}

/*open desc*/
.desc{
	display: none;
}

.expButton{
	font-weight: bold;
	background-color: var(--red);
	border:none;
	display: block;
	font-size: 1rem;
	text-decoration: underline;
	cursor: pointer;
	text-align: left;
}

/*CONTACT*/
#contact{
	-webkit-box-shadow: 2px 0px 34px 6px rgba(0,0,0,0.38);
	-moz-box-shadow: 2px 0px 34px 6px rgba(0,0,0,0.38);
	box-shadow: 2px 0px 34px 6px rgba(0,0,0,0.38);

	height: 10rem;
}

#contact ul{
	list-style: none;
}

svg{
	width: 5rem;
}

svg:hover{
	color: var(--lighterRed);
}